################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPF-TrackList/WPF-TrackList/obj
/WPF-TrackList/WPF-TrackList/.vs/WPF-TrackList
/WPF-TrackList/WpfTracklist
/WPF-TrackList/WPF-TrackList/bin/Debug/net8.0-windows
/WPF-TrackList/WPF-TrackList/.vs/ProjectEvaluation
/TrackList/.vs
/TrackList/TrackList/bin/Debug/net6.0
/TrackList/TrackList/obj/Debug/net6.0
